#!/usr/bin/env bash

# используется для административных запросов
ADMINISTRATOR_KEY=secret
# публичный домен
DOMAIN=localhost
# имя по умолчанию для автора
DEFAULT_NAME=Anonymous
# ограничение на размер загружаемого файла в байтах
MAX_FILESIZE=26214400

# ключ шифрования бекапов
BACKUP_PASSPHRASE=

# путь до директории с файлами
FILESTORE_SOURCE_DIR=./data/files
# путь до директории с бекапами файлов
FILESTORE_BACKUP_DIR=./data/filestore_backup
# путь до файла индекса бекапа файлов
FILESTORE_BACKUP_INDEX_DB=./data/filestore_backup_index.db

# путь до директории с SQL-дампами БД
DATABASE_BACKUP_DIR=./data/sql-dumps

# путь до директории с бекапами музыки
MUSIC_BACKUP_DIR=./data/backup-music
MUSIC_DIR_PATH=./data/music
DIR_OF_CONVERTIBLE_FILES_PATH=./data/convert
DIR_OF_TAGME_FILES_PATH=./data/tagme
# адрес до icecast-сервера
RADIO_API_URL=http://example.com/status-json.xsl
# see monolog\level
RADIO_LOG_LEVEL=100
RADIO_DB_IMPORTER_BAD_ESTIMATE_VALUE=5

##############################
# service settings, not edit #
##############################
TARGET=chan
EPDS_DUMP_PATH=epds.db
DTBS_DUMP_PATH=dump.sql

MYSQL_HOSTNAME=db
MYSQL_RADIO_DATABASE=umeradio
MYSQL_CHAN_DATABASE=pissykaka
MYSQL_ROOT_PASSWORD=root
MYSQL_USERNAME=root
MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD}

BASE_URL=http://${DOMAIN}
API_URL=${BASE_URL}/api
FILESTORE_URL=${BASE_URL}/filestore
STATIC_URL=${BASE_URL}/files
ICECAST_URL=${BASE_URL}:8000
MPD_HOSTNAME=192.168.88.168
MPD_PORT=6600
MPD_DATABASE_PATH=/var/lib/music
