data/db/*
data/files/*
data/dumps/*
data/grafana/*
api/vendor/*
api/.phpunit.result.cache
filestore/vendor/*
radio-db-importer/vendor/*
radio-metrics/vendor/*
radio-metrics/logs/*
radio-metrics/local.env.php
radio-metrics/test.db
radio-scheduler/vendor/*
radio-scheduler/logs/*
frontend/node_modules/*
logs/*
.env