data/db/*
data/files/*
data/dumps/*
data/grafana/*
api/vendor/*
filestore/vendor/*
radio-db-importer/vendor/*
radio-metrics/vendor/*
radio-metrics/logs/*
radio-metrics/local.env.php
radio-metrics/test.db
frontend/node_modules/*
logs/*
.env