data/db/*
data/files/*
data/grafana/*
data/dumps/*
data/music
data/tagme
data/convert
!data/dumps/.gitkeep
api/vendor/*
api/.phpunit.result.cache
filestore/vendor/*
radio-db-importer/vendor/*
radio-metrics/vendor/*
radio-metrics/logs/*
radio-metrics/local.env.php
radio-metrics/test.db
radio-scheduler/vendor/*
radio-scheduler/logs/*
radio-scheduler/config.local.php
frontend/node_modules/*
logs/*
.env