name: umechan
services:
  kafka:
    image: apache/kafka:4.1.1
    container_name: umechan-kafka-broker
    restart: always
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092,CONTROLLER://kafka:9093,SASL_PLAINTEXT://kafka:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,SASL_PLAINTEXT://${DOMAIN}:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,SASL_PLAINTEXT:SASL_PLAINTEXT
      KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
      KAFKA_SECURITY_INTER_BROKER_PROTOCOL: SASL_PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
      KAFKA_MESSAGE_MAX_BYTES: 20971520
      KAFKA_SOCKET_REQUEST_MAX_BYTES: 20991520
      KAFKA_OPTS: -Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf
    user: "0:0"
    volumes:
       - "./data/kafka:/tmp/kafka-logs"
       - "./data/configs/kafka/kafka_server_jaas.conf:/etc/kafka/kafka_server_jaas.conf"
    ports:
      - "9094:9094"
    profiles:
      - production
      - chan
      - ${TARGET:-}
    healthcheck:
      test: ["CMD-SHELL", "nc -z kafka 9092"]
      timeout: 2s
      retries: 10
  kafka-ui:
    container_name: umechan-kafka-ui
    image: provectuslabs/kafka-ui:latest
    restart: always
    ports:
      - 8010:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: umechan
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
  nginx:
    build:
      dockerfile: images/web-server/Dockerfile
      context: .
      args:
        - MAX_FILESIZE=${MAX_FILESIZE}
        - API_URL=${API_URL}
        - FILESTORE_URL=${FILESTORE_URL}
        - ICECAST_URL=${ICECAST_URL}
        - DEFAULT_POSTER=${DEFAULT_NAME}
        - BASE_URL=${BASE_URL}
      target: ${TARGET}
    container_name: umechan-frontend
    restart: always
    depends_on:
      - api
    volumes:
      - "./data/files:/var/www/html/files"
      - "./data/logs:/var/log/nginx"
    ports:
      - '80:80'
    profiles:
      - production
      - chan
      - ${TARGET:-}
  db:
    image: mysql:8.3.0
    container_name: umechan-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_DATABASE=${MYSQL_CHAN_DATABASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - './data/db:/var/lib/mysql'
      - './data/dumps:/tmp/dumps'
    profiles:
      - production
      - chan
      - ${TARGET:-}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 2s
      retries: 10
  api:
    build:
      dockerfile: images/chan-api/Dockerfile
      context: .
      target: production
    container_name: umechan-api
    restart: always
    depends_on:
      db:
        condition: service_healthy
      chan-migrations:
        condition: service_completed_successfully
      kafka:
        condition: service_healthy
    env_file:
      - '.env'
    environment:
      - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
      - MYSQL_DATABASE=${MYSQL_CHAN_DATABASE}
      - MYSQL_USERNAME=${MYSQL_USERNAME}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - PHINX_HOSTNAME=${MYSQL_HOSTNAME}
      - PHINX_DATABASE=${MYSQL_CHAN_DATABASE}
      - PHINX_USER=${MYSQL_USERNAME}
      - PHINX_PASSWORD=${MYSQL_PASSWORD}
      - ADMINISTRATOR_KEY=${ADMINISTRATOR_KEY}
      - DOMAIN=${DOMAIN}
      - EXCLUDE_TAGS=${EXCLUDE_TAGS}
      - DEFAULT_NAME=${DEFAULT_NAME}
      - BASE_URL=${BASE_URL}
      - EPDS_DUMP_PATH=${EPDS_DUMP_PATH}
      - IS_DEV=no
      - NODE_ID=${NODE_ID:-area8ulyanovsk}
    volumes:
      - './data/logs:/var/log'
      - './data/dumps:/tmp/dumps'
    profiles:
      - production
      - chan
      - ${TARGET:-}
  filestore:
    build:
      dockerfile: images/chan-filestore/Dockerfile
      context: .
      args:
        - MAX_FILESIZE=${MAX_FILESIZE}
      target: production
    container_name: umechan-filestore
    restart: always
    environment:
      - STATIC_URL=${STATIC_URL}
      - ADMINISTRATOR_KEY=${ADMINISTRATOR_KEY}
      - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
      - MYSQL_DATABASE=${MYSQL_CHAN_DATABASE}
      - MYSQL_USERNAME=${MYSQL_USERNAME}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - FILESTORE_TELEGRAM_BOT_TOKEN=${FILESTORE_TELEGRAM_BOT_TOKEN}
      - FILESTORE_TELEGRAM_CHAT_ID=${FILESTORE_TELEGRAM_CHAT_ID}
    volumes:
      - './data/files:/var/www/html/files'
      - './data/logs:/var/log'
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - production
      - chan
      - ${TARGET:-}
  chan-migrations:
    build:
      dockerfile: images/chan-migrations/Dockerfile
      context: .
    container_name: umechan-migrations
    env_file:
      - '.env'
    environment:
      - PHINX_HOSTNAME=${MYSQL_HOSTNAME}
      - PHINX_DATABASE=${MYSQL_CHAN_DATABASE}
      - PHINX_USER=${MYSQL_USERNAME}
      - PHINX_PASSWORD=${MYSQL_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - production
      - chan
      - ${TARGET:-}
  radio-db-importer:
    build:
      dockerfile: images/radio-db-importer/Dockerfile
      context: .
      args:
        - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
        - MYSQL_DATABASE=${MYSQL_RADIO_DATABASE}
        - MYSQL_USERNAME=${MYSQL_USERNAME}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    container_name: umechan-radio-db-importer
    restart: 'no'
    depends_on:
      db:
        condition: service_healthy
    environment:
      - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
      - MYSQL_DATABASE=${MYSQL_RADIO_DATABASE}
      - MYSQL_USERNAME=${MYSQL_USERNAME}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - RADIO_DB_IMPORTER_BAD_ESTIMATE_VALUE=${RADIO_DB_IMPORTER_BAD_ESTIMATE_VALUE:-5}
    volumes:
      - '$DIR_OF_CONVERTIBLE_FILES_PATH:/var/lib/convert:rw'
      - '$DIR_OF_TAGME_FILES_PATH:/var/lib/tagme:rw'
      - '$MUSIC_DIR_PATH:/var/lib/music:rw'
      - './data/logs/:/db-importer/logs:rw'
    profiles:
      - production
  radio-scheduler:
    build:
      dockerfile: images/radio-scheduler/Dockerfile
      context: .
      args:
        - MPD_HOSTNAME=${MPD_HOSTNAME}
        - MPD_PORT=${MPD_PORT}
        - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
        - MYSQL_DATABASE=${MYSQL_RADIO_DATABASE}
        - MYSQL_USERNAME=${MYSQL_USERNAME}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    container_name: umechan-radio-scheduler
    restart: always
    volumes:
      - './data/logs/:/scheduler/logs'
    depends_on:
      db:
        condition: service_healthy
    profiles:
      - production
  radio-metrics:
    build:
      dockerfile: images/radio-metrics/Dockerfile
      context: .
      args:
        - MYSQL_HOSTNAME=${MYSQL_HOSTNAME}
        - MYSQL_DATABASE=${MYSQL_RADIO_DATABASE}
        - MYSQL_USERNAME=${MYSQL_USERNAME}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - RADIO_API_URL=${RADIO_API_URL}
        - RADIO_CHAN_API_URL=${DOMAIN}
        - RADIO_LOG_LEVEL=${RADIO_LOG_LEVEL}
        - MPD_HOSTNAME=${MPD_HOSTNAME}
        - MPD_PORT=${MPD_PORT}
        - MPD_DATABASE_PATH=${MPD_DATABASE_PATH}
    container_name: umechan-radio-metrics
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      - PHINX_HOSTNAME=${MYSQL_HOSTNAME}
      - PHINX_DATABASE=${MYSQL_RADIO_DATABASE}
      - PHINX_USER=${MYSQL_USERNAME}
      - PHINX_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - './data/logs:/usr/local/share/metrics/logs'
      - '/home/ridouchire/Music:/var/lib/music'
    profiles:
      - production
  promtail:
    container_name: umechan-promtail
    image: grafana/promtail:latest
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - './data/logs:/var/log:ro'
    restart: always
    profiles:
      - production
  loki:
    container_name: umechan-loki
    image: grafana/loki:latest
    command: -config.file=/etc/loki/local-config.yaml
    restart: always
    profiles:
      - production
  grafana:
    container_name: umechan-grafana
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - "./data/grafana:/var/lib/grafana"
    restart: always
    profiles:
      - production
  memcached:
    container_name: umechan-memcached
    image: memcached
    command:
      - --conn-limit=1024
      - --memory-limit=64
      - --threads=4
    profiles:
      - production
      - chan
